#name,
#height,
#mass,
#hair_color,
#eye_color,
#skin_color,
#birth_year,
#gender {
  margin-left: 20px;
  margin-top: 20px;
}
.test {
  display: none;
}

.container {
  margin-left: 100px;
}
h1 {
  background-color: black;
  color: white;
  padding: 10px;
  width: 1000px;
  text-align: center;
}
#btn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
#btn:hover {
  background-color: rgb(241, 236, 236);
  color: rgb(23, 22, 22);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
